* {
  margin: 0;
  padding: 0; }
body { 
  width: 100%; 
  background: rgb(237,234,229);
  font-family:"Trebuchet MS", Arial, Verdana;
  color: rgb(4,1,20);
  font-size: 0.9em;
} 
a {
  color: rgb(54,106,166);
}
h3 {
  margin: 20px;
}
#header{
  background: rgb(244,244,246);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgb(244,244,246) 0%, rgb(220,220,228) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(244,244,246)), color-stop(100%,rgb(220,220,228)));
  background: -webkit-linear-gradient(top,  rgb(244,244,246) 0%,rgb(220,220,228) 100%);
  background: -o-linear-gradient(top,  rgb(244,244,246) 0%,rgb(220,220,228) 100%);
  background: -ms-linear-gradient(top,  rgb(244,244,246) 0%,rgb(220,220,228) 100%);
  background: linear-gradient(to bottom,  rgb(244,244,246) 0%,rgb(220,220,228) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f6', endColorstr='#dcdce4',GradientType=0 );
  -webkit-box-shadow: 0 5px 2px -2px rgb(195,195,193);  
  -moz-box-shadow: 0 5px 2px -2px rgb(195,195,193);  
  box-shadow: 0 5px 2px -2px rgb(195,195,193);
} 
.menu {

  border-bottom: 1px solid rgb(202,203,208);
}  

ul.navigation, ul.sub-menu{
  margin: 0;
  padding: 20px 35px;
  list-style-type: none;
  position: relative;
  z-index:1;

}
ul.navigation li {
  display: inline;
  margin-right: 25px;
}
ul.navigation li.active a {
  font-size: 1.1em;
  text-decoration:none;
  color: rgb(4,1,20);
}
.menu:after{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 37px 244px 0 0;
  border-color: #f2f2f4 transparent transparent transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  content: ''; 
  z-index:0;
}
.pull-right {
  float:right;
}
ul.sub-menu {
  margin-left:20px;
}
.pull-right a{
  color: rgb(122,121,116);
}
a.button {
  text-decoration: none;
  text-align: center;
  padding: 5px 6px 5px 30px;
  margin: 17px;
  border: solid 1px #CCCDD1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: bold;
  color: rgb(120,125,129);
  background-color: #F0EFF4;
  background-image: -moz-linear-gradient(top, #F0EFF4 50%, #DCDDE2 50%);
  background-image: -webkit-linear-gradient(top, #F0EFF4 50%, #DCDDE2 50%);
  background-image: -o-linear-gradient(top, #F0EFF4 50%, #DCDDE2 50%);
  background-image: -ms-linear-gradient(top, #F0EFF4 50% ,#DCDDE2 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCDDE2', endColorstr='#DCDDE2',GradientType=0 );
  background-image: linear-gradient(top, #F0EFF4 50% ,#DCDDE2 50%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
a.button i {
  font-size: 28px;
  color: rgb(96,96,96);
  text-shadow: 1px 1px rgb(180,181,185);
  position: absolute;
  margin-top: -10px;
  margin-left: -20px;
 }
input[type="text"] {
  border: 1px solid rgb(191,192,194);
  border-radius: 5px;
  color: rgb(154,148,160);
  padding: 4px 8px;
  font-size: 0.8em;
  width: 162px;
}
.payers{
  display: block;
  padding: 0px 36px;
}
table {
  width: 100%;
  border-collapse:collapse;
  table-layout: fixed; 
}
table, td, th {
  border-bottom: 1px solid rgb(202,201,199);
}
td{
  padding: 20px 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}
thead tr:first-child td, td:last-child {
  color: rgb(173,163,154);
  font-size: 0.8em;
}

table td:nth-of-type(1) {
  width:20px;
  padding-right: 0px;
  padding-left: 20px;
}
table td:nth-of-type(2) {
 padding-left: 10px;
}

table td:nth-of-type(3) {
  width:20%;
  
}
table td:nth-of-type(4) {
  width:15%;
}
table td:nth-of-type(5) {
  width:20%;
  white-space: normal;
}

