<script type="text/javascript">
   $(function(){ 
            $.getJSON('public/ajax/customers.json', {}, function(json){              
                var html = '';
                for(var i in json){        
                  html += '<tr>';
                  html += (!json[i].id) ? '<td></td>' : '<tr><td><input type="checkbox" name=' + json[i].id + '></td>'
                  html += (!json[i].lastname) ? '<td>' : '<td>' + json[i].lastname;
                  html += (!json[i].firstname) ? '' : '&nbsp;'+ json[i].firstname;
                  html += (!json[i].middlename) ? '</td>' : '&nbsp;'+ json[i].middlename + '</td>';
                  html += (!json[i].email) ? '<td></td>' : '<td>' + json[i].email + '</td>'
                  html += (!json[i].phone) ? '<td></td>' :'<td>' + json[i].phone + '</td>';
                  html += (!json[i].groups) ? '<td></td>' : '<td>' + json[i].groups + '</td></tr>';
                  html += '</tr>';                
                }
                $('table.allpayers tbody').html(html);
            });                
    });
</script>
